<div class="card">
  <div class="card-header collapsable-element-header" (click)="toggleCollapse()">
    <div class="row">
      <div class="col align-self-start">
        <h5 *ngIf="!small" class="title mb-1 non-btn-primary">
          <a class="mb-1"><i class="fa non-btn-action" [ngClass]="{ 'fa-eye': collapsed, 'fa-eye-slash': !collapsed }"></i> </a>
          {{ title }}
        </h5>
        <h6 *ngIf="small" class="title mb-1  non-btn-primary">
          <a class="mb-1"
            ><i class="fa non-btn-action non-btn-primary" [ngClass]="{ 'fa-eye': collapsed, 'fa-eye-slash': !collapsed }"></i>
          </a>
          {{ title }}
        </h6>
      </div>
    </div>
  </div>
  <div id="summary" [ngClass]="{ collapse: !collapsed }">
    <div class="card-body">
      <ng-content select="[content-summary]"></ng-content>
    </div>
  </div>
  <div id="details" [ngClass]="{ collapse: collapsed }">
    <div class="card-body">
      <ng-content select="[content-details]"></ng-content>
    </div>
  </div>
</div>
