<div class="row">
  <div class="col-3">
    <div>
      <span [ngClass]="{ 'text-danger': isNextMeetingOverdue, 'text-warning': isNextMeetingDueInTheNextWeek }" style="font-weight: bold"
        >Last {{ detailDescription }} Date:</span
      >
    </div>
    {{ lastMeetingDate | date: 'shortDate' }}
  </div>
  <div class="col-3">
    <div>
      <span style="font-weight: bold">Required Cadence (days):</span>
    </div>
    {{ requiredCadence | dashesWhenNull }}
  </div>
  <div class="col-3">
    <div>
      <span style="font-weight: bold">Total {{ detailDescription }}(s):</span>
    </div>
    {{ totalMeetings }}
  </div>
</div>
