<div class="row pb-3">
  <div class="col-md-3 pl-1">
    <div class="non-btn-action non-btn-success pb-1" (click)="addNewNote()">
      <i class="fa fa-plus"> Add New {{ noteType }} </i>
    </div>
  </div>
</div>

<div *ngFor="let note of noteList">
  <div class="row">
    <hr width="100%" />
    <div class="col-md-3 pl-1">
      <div class="non-btn-action non-btn-danger pb-3" (click)="deleteNote(note)">
        <i class="fa fa-minus"> Delete {{ noteType }} </i>
      </div>
      <div class="non-btn-action non-btn-success pb-1" (click)="saveChanges()">
        <i class="fa fa-floppy-o"> Save Changes</i>
      </div>
    </div>
    <div class="col-md-3 pl-1">
      <div class="form-group">
        <label>{{ noteType }} Date</label>
        <input
          type="date"
          class="form-control"
          name="date"
          [value]="getFormattedDate(note.date)"
          (change)="note.date = getUpdatedDate($event)"
        />
      </div>
    </div>
    <div class="col-md-3 pl-1">
      <div class="form-group">
        <label>Created On</label>
        <input type="date" class="form-control" name="createdOn" [value]="getFormattedDate(note.createdOn)" disabled />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>{{ noteType }} Notes</label>
        <textarea rows="6" cols="80" class="form-control" name="note" [(ngModel)]="note.note"></textarea>
      </div>
    </div>
  </div>
</div>
