<div class="table-responsive">
  <table class="table">
    <thead class="text-primary">
      <th>
        <div class="non-btn-action non-btn-primary"><i class="fa fa-plus"></i> Add New {{ actionType }}</div>
      </th>
      <th>{{ actionType }}</th>
      <th>Due Date</th>
      <th>Created on</th>
      <th>Completed?</th>
      <th>Completed on</th>
    </thead>
    <tbody>
      <tr *ngFor="let action of actionList">
        <td>
          <div *ngIf="!action.completed" class="non-btn-action non-btn-danger pb-1">
            <i class="fa fa-minus"> Delete {{ actionType }}</i>
          </div>
          <div *ngIf="!action.completed && !action.abandoned" class="non-btn-action non-btn-warning pb-1">
            <i class="fa fa-ban"> Abandon {{ actionType }}</i>
          </div>
          <div *ngIf="!action.completed && action.abandoned" class="non-btn-action non-btn-primary">
            <i class="fa fa-undo"> Undo Abandon {{ actionType }}</i>
          </div>
        </td>
        <td [ngClass]="{ abandoned: action.abandoned }">{{ action.description }}</td>
        <td [ngClass]="{ abandoned: action.abandoned }">{{ action.date | date: 'shortDate' }}</td>
        <td [ngClass]="{ abandoned: action.abandoned }">{{ action.createdOn | date: 'shortDate' }}</td>
        <td [ngClass]="{ abandoned: action.abandoned }">
          {{ action.completed ? 'Yes' : 'No' }}
          <div *ngIf="!action.abandoned && !action.completed" class="non-btn-action non-btn-success">
            <i class="fa fa-check"> Mark Completed</i>
          </div>
          <div *ngIf="!action.abandoned && action.completed" class="non-btn-action non-btn-primary">
            <i class="fa fa-undo"> Undo Mark Completed</i>
          </div>
        </td>
        <td [ngClass]="{ abandoned: action.abandoned }">{{ action.completedOn | date: 'shortDate' }}</td>
      </tr>
    </tbody>
  </table>
</div>
